<!DOCTYPE html>
<html lang="pt-br">
<%- include(`./parciais/head.ejs`) %>
<body>
 
    <!-- Inclusõa de parcial NAV -->
 <%- include(`./parciais/nav.ejs`) %>

    <div class="conteudo-blog">
        <h2>Todo Blog</h2>
        <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>

            <h3 class="titulo"><%=blog.titulo %></h3>
            <p class="conteudo"><%= blog.conteudo %></p>

            <% }) %>
            <% } else { %>
            <p>a lista do Blog esta vazia</p>
            <% } %>
    </div>

<%- include(`./parciais/footer.ejs`) %>

</body>
</html>